.guideList {
  padding-top: 5rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}
